
<app-homephotos></app-homephotos>


<div class="container">
	<div class="row header">
		<img style="width: 535px; position: absolute; left:585px; top:50%;"  src="https://static.in2life.gr/media/pics/pics680/1184734-escape_room_680.jpg">
		<span style="position: relative;">
			<h1>CONTACT US &nbsp;</h1>
	  <h3>Fill out the form!</h3>
		</span>
	</div>
	
	<div class="row body">
	  <form class="contact" [formGroup]="form" method="post" action="#">
		<ul>
		  <li>
			<p class="left">
			  <label for="first_name">Name </label>
			  <input #fullName [formControl]="name" required type="text" name="first_name" placeholder="Enter your name" />
			  <mat-error *ngIf="name.invalid"> Required field</mat-error>
			</p>
		  </li>
		  <li>
			<p>
			  <label for="email">E-mail <span class="req">*</span></label>
			  <input #eMail type="email" [formControl]="email" name="email" placeholder="email@example.com" required/>
			  <mat-error *ngIf="email.invalid"> Required field</mat-error>
			</p>
		  </li>
		  <li>
			<div class="divider"></div>
		  </li>
		  <li>
			<label for="comments">Message</label>
			<mat-error *ngIf="message.invalid">Required field</mat-error>
			<textarea #textMessage [formControl]="message" maxlength="256" placeholder="I'm interested in..." required cols="46" rows="3" name="comments"></textarea>
			<mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
			
		  </li>
		  <li>
			<input [disabled]="isLoading" class="btn btn-submit submit" (click)="onSubmit(fullName.value, eMail.value, textMessage.value)"  type="submit" value="Submit" />
			<small>or press <strong>enter</strong></small>
			<input [formControl]="honeypot" hidden class="hidden" type="text" />
			<div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
			<span>{{responseMessage}}</span>
			</div>
		  </li>
		</ul>
	  </form>
	</div>
  </div>


  