img {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgb(88, 88, 88, 0)));
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
.textinImage h2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-20%, -50%);
    color: white;
    transition: 1s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .textinImage h2:hover {
    font-size: xx-large;
    color:
      #d69f44;
  }

  
  