<body  style="margin-bottom: 700px;">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="main-timeline">
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">Step 1</span>
                  <div class="timeline-icon">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Introduction</h3>
                    <p class="description">
                      Escape Reality launch on Discord and launcing our exclusice NFT collection at the end of September 2022. rorem Ipsum is simply dummy teadfasfasfasfasfasfasfasfasfasfxt of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">Step 2</span>
                  <div class="timeline-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">ASSEMBLE YOUR TEAM</h3>
                    <p class="description">
                        Choose wisely. Escape room games work best for teams of between 2-6 people, so make sure you and your band of fellow escapees get on well together. Good communication is key, as is the ability to cooperate and think on the same wavelength, but a mix of skills and perspectives can also be useful. Who knows - Jo’s maths knowledge might be more useful than Jon’s murder-mystery addiction!
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">Step 3</span>
                  <div class="timeline-icon">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">CHOOSE YOUR FIRST ESCAPE ROOM</h3>
                    <p class="description">
                        Escape room game locations will have a selection for you to pick from, from all-out horror scenarios to fantasy and adventure escape room themes. Do you like the chill that runs down your spine at the scene of an unspeakable event, or in the presence of the supernatural? The desperation at being held hostage by a psychopath? The excitement of searching for pirate treasure or escaping from prison? Or getting away with the biggest robbery of your life?
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">Step 4</span>
                  <div class="timeline-icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">BlackPearl</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">Step 5</span>
                  <div class="timeline-icon">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Angular</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">Step 6</span>
                  <div class="timeline-icon">
                    <i class="fa fa-apple" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Laravel</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">Step 7</span>
                  <div class="timeline-icon">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Creapure</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>    

      <button class="btn btn-primary" (click)="GoToChat()">Chat <span class="fa fa-chat"></span></button>
      

</body>