<app-avatars></app-avatars> 
<div class="container">
  <div class="vertical-center">
<app-chat></app-chat>
  </div>
</div>
<body  style="margin-bottom: 700px;">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="main-timeline">
              <div class="timeline">
                <a  class="timeline-content">
                  <span class="timeline-year">Step 1</span>
                  <div class="timeline-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">PICK THE RIGHT TEAM</h3>
                    <p class="description">
                      The thing that really makes your escape room experience great is having a blast with the people you are playing with. Playing an escape room isn’t necessarily about picking a “super smart” team because we all bring something different to the table.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a class="timeline-content">
                  <span class="timeline-year">Step 2</span>
                  <div class="timeline-icon">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">BE POSITIVE</h3>
                    <p class="description">
                      Escape rooms are meant to be challenging. If it were super easy, then it wouldn’t be nearly as exciting.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a class="timeline-content">
                  <span class="timeline-year">Step 3</span>
                  <div class="timeline-icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">UNDERSTAND THE RULES OF THE ROOM</h3>
                    <p class="description">
                      At most escape rooms, you will be given a set of rules at the beginning of the experience. It’s easy to ignore these when you are excited and just want to get to the game, but often, these rules are for your safety and knowing them can actually help you succeed in a room!
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a class="timeline-content">
                  <span class="timeline-year">Step 4</span>
                  <div class="timeline-icon">
                    <i class="fa fa-bullseye" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">KEEP A CONSISTENT, DETERMINED APPROACH</h3>
                    <p class="description">
                      Most escape rooms are designed in a logical, sequential order. One clue leads to the next, leads to the next.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a class="timeline-content">
                  <span class="timeline-year">Step 5</span>
                  <div class="timeline-icon">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">SEE SOMETHING, SAY SOMETHING</h3>
                    <p class="description">
                      Communication is absolutely vital for solving an escape room. This is why escape rooms are 100% team activities!Most rooms are designed so that everyone can be working on something or discovering something new all at the same time, so if you don’t communicate, you might not catch some missing pieces!
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a class="timeline-content">
                  <span class="timeline-year">Step 6</span>
                  <div class="timeline-icon">
                    <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">KEEP AN EYE ON THE CLOCK</h3>
                    <p class="description">
                      Escape rooms are meticulously planned and designed so that you can solve and open everything within an hour, so keep in mind what you have left or what you have already opened.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a class="timeline-content">
                  <span class="timeline-year">Step 7</span>
                  <div class="timeline-icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">HAVE FUN</h3>
                    <p class="description">
                      Ultimately, the only goal should be FUN. These games are designed to challenge and excite you, make you think, and make you laugh and enjoy an hour with people you care about. Whether you are coming for a team building office party or are taking the kids out for a family activity, escape rooms should leave you smiling, not disappointed. So long as you enjoy your time together, you will have won the escape room!
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>    
      


      
      
      

</body>