body
{
    margin-top: 150px;
    text-align: center;
    color: white;
    font-size: large;
}

h2{
    color: #e74c3c;
    letter-spacing: 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
