<body>

    <h2>ESCAPE ROOM</h2>
        <p>BEGINNERS GUIDE</p>
    
    <p>The tips and tactics to escape the room!</p>

            <app-youtubeplayer></app-youtubeplayer>
            <p>Are you an escape room newbie? Wondering what to expect from an escape game and how to get out of the
                room?</p>

            <p>Get all the escape room tactics, advice and tips you need in our beginner’s guide below…</p>

            <p>Remember – every team entering an escape room will have one common goal: to escape the room in
                less than 60 minutes. Or we throw away the key.*</p>
            <p>
                (Only joking. Maybe.)
            </p>
            <p>
                Here are our escape room tactics…</p>

</body>