<div class="check">
    <h3>Check Out Our Videos! <i class="fa fa-youtube-play"></i></h3>
    <app-loading-spinner></app-loading-spinner>



    <ngx-slick-carousel   class="video" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" >
                            
                            <div ngxSlickItem *ngFor="let room of Rooms" class="slide" >
                                    <youtube-player  [videoId]="room.VideoId" suggestedQuality="hd1080" [startSeconds]="0"> </youtube-player>
                            </div>
    </ngx-slick-carousel>
    
</div>


