<div *ngIf="room">

  <div>



    <img class="detailsImage w-100" [src]="room.ImageUrl">
    <form action="" [formGroup]="form" [hidden]="isHidden">
      <h2>Fill the Reservation Form <br>for "{{room.Title}}"</h2>
      <br>

      <label>Firstname<span class="req" *ngIf="first_name.invalid">*</span>
      </label>
      <br>
      <input #firstName [formControl]="first_name" required type="text" placeholder="Enter your First Name" />
      <br>
      <br>
      <label>Lastname<span class="req" *ngIf="last_name.invalid">*</span>
      </label>
      <br>
      <input #lastName [formControl]="last_name" required type="text" placeholder="Enter your Last Name" />
      <br>
      <br>
      <label>Email<span class="req" *ngIf="e_mail.invalid">*</span>
      </label>
      <br>
      <input #email [formControl]="e_mail" required type="email" placeholder="email@example.com" />
      <br>
      <br>

      <label>Phone Number<span class="req" *ngIf="phone_number.invalid">*</span>
      </label>
      <br>
      <input #phoneNumber [formControl]="phone_number" required type="tel" placeholder="Enter your phone number" />
      <br>
      <br>

      <label>Game Date<span class="req" *ngIf="game_date.invalid">*</span>
      </label>
      <br>
      <input #gameDate [formControl]="game_date" required style="color:white" type="date"
        min="{{ today | date:'yyyy-MM-dd'}}" max="{{maxDate | date:'yyyy-MM-dd'}}" (input)="getTimeArray(room.Duration)"
        (input)="GetBookDate($event)" />

      <br>
      <br>

      <label>Select Hours<span class="req" *ngIf="game_time.invalid">*</span>
      </label>
      <br>

      <select #gameTime [disabled]="isDisabled" [formControl]="game_time" required>
        <option selected hidden></option>
        <option *ngFor="let dateObj of hourList" [disabled]="dateObj.IsDisabled"
          [style.backgroundColor]="dateObj.Color">{{ dateObj.Time | date:'shortTime' }}</option>
      </select>
      <br>
      <br>

      <label>Number of Players<span class="req" *ngIf="players.invalid">*</span>
      </label>
      <br />
      <select #numberOfPlayers [formControl]="players" required>
        <option selected hidden></option>
        <option *ngFor="let item of getNumberOfPlayers(room.Capacity)">{{item}} Players / {{showTotalPrice(item)}} EUR
          Total</option>
      </select>
      <br>
      <br>

      <label>Subscribe to our newsletter: </label>
      <input class="check" #subscribe type="checkbox" (change)="hasSubscribed($event)" />
      <br>
      <br>
      <button [disabled]="isLoading"
        (click)="CreateBookHandler(room.Id, firstName.value, lastName.value, email.value, phoneNumber.value, gameDate.valueAsDate!, numberOfPlayers.value, gameTime.value)"
        class="btn btn-danger">Pay at store
       
      </button>
      <br>
      <br>
      <button [disabled]="isLoading" class="btn btn-success"
        (click)="GoToPayPal(room.Id, firstName.value, lastName.value, email.value, phoneNumber.value, numberOfPlayers.value, gameDate.valueAsDate!, gameTime.value)">Pay
        with Paypal</button>
      <br />

      <br />
      <button [disabled]="isLoading" class="btn btn-primary"
        (click)="onCheckout(room.Id, firstName.value, lastName.value,  email.value, phoneNumber.value, gameDate.valueAsDate!, numberOfPlayers.value, gameTime.value)">Pay
        with card
        
      </button>
      <br />
      <br />

    </form>
    <div *ngIf="alert" class="alert alert-success message" role="alert">
      <h4 class="alert-heading">Successfull {{message}}!</h4>
      <p>Thank you for your reservation!</p>
    </div>
    <div *ngIf="errorAlert" class="alert alert-danger message" role="alert">
      <h4 class="alert-heading">Something went wrong.</h4>
      <p>Please try again.</p>
    </div>
    <br />
    <br />
    <button class="btn btn-warning back" type="button" routerLink="/Rooms">Go back</button>
  </div>
  <router-outlet></router-outlet>

</div>