<div *ngIf="room"> 
  
    <div>
         
      <div>
       
         <img class="detailsImage w-100" [src]="room.ImageUrl"> 
        <form action="" [hidden]="isHidden"> 
            <h2>Fill the Reservation Form <br>for "{{room.Title}}"</h2>
            <br>

            <label>Firstname </label> 
            <br>
            <input #firstName type="text" placeholder="Write your First Name" required/>
            <br>
            <br>
            <label >Lastname </label>  
            <br>
            <input #lastName type="text" placeholder="Write your Last Name" required/>
            <br>
            <br>

            <label>Game Date </label>
            <br>
            <input #gameDate style="color:white" type="date"  min="2022-09-01" max="2022-09-20"  (input)="getTimeArray(room.Duration)" (input)="GetBookDate($event)" required/>
            
            <br>
            <br>
           

            <label>Select Hours</label> 
            <br>
           
            <select #gameTime [disabled]="isDisabled" required>
              <option selected hidden></option>
              <option *ngFor="let dateObj of hourList" [disabled]="dateObj.IsDisabled" [style.backgroundColor]="dateObj.Color">{{ dateObj.Time | date:'shortTime' }}</option>
            </select>
              <br>
              <br>

             <label>Number of Players </label>
                <select #numberOfPlayers required>
                    <option *ngFor="let item of getNumberOfPlayers(room.Capacity)">{{item}} Players / {{showTotalPrice(item)}} EUR Total</option>
                </select>
             <br>
             <br>
           
             <button (click)="CreateBookHandler(room.Id, firstName.value, lastName.value, gameDate.valueAsDate!, numberOfPlayers.value, gameTime.value)" class="btn btn-danger">Book Now 
              <span class="fa fa-money"></span> 
             </button> 
          <br>
          <br>
          <button class="btn btn-success" (click)="GoToPayPal(room.Id, firstName.value, lastName.value, numberOfPlayers.value, gameDate.valueAsDate!, gameTime.value)">Pay with Paypal <span class="fa fa-paypal"></span></button>
          <br/>
          
           <br />
          <button class="btn btn-primary" (click)="onCheckout(room.Id, firstName.value, lastName.value, gameDate.valueAsDate!, numberOfPlayers.value, gameTime.value)">Pay with card 
            <span class="fa fa-credit-card"></span> 
            </button>
          <br />
          <br/>
          <button class="btn btn-warning back" type="button" routerLink="/Rooms">Go back</button>
        </form>
        <div *ngIf="alert"  class="alert alert-success message"  role="alert">
          <h4 class="alert-heading">Successfull {{message}}!</h4>
          <p>Thank you for your reservation!</p>
        </div>
        <br/>
        <br/>
        
    </div>
  <router-outlet></router-outlet>
    
</div>
</div>



