<div *ngIf="room">

    <div>
        <img class="detailsImage w-100" src={{room.ImageUrl}}>
        <br>
        <div class="textinImage active">
            <p class="title display-4">{{room.Title}}</p>
            <hr>
            <div class="card-text" style="text-align:center;" [ngSwitch]="room.Difficulty">
                <p *ngSwitchCase="0">
                    <app-bomb title="Difficulty: Begginer"></app-bomb>
                </p>
                <p *ngSwitchCase="1">
                    <app-bomb title="Difficulty: Intermediate"></app-bomb>
                    <app-bomb title="Difficulty: Intermediate"></app-bomb>
                </p>
                <p *ngSwitchCase="2">
                    <app-bomb title="Difficulty: Advanced"></app-bomb>
                    <app-bomb title="Difficulty: Advanced"></app-bomb>
                    <app-bomb title="Difficulty: Advanced"></app-bomb>
                </p>
            </div>
            <p class="card-text">
                <app-users aria-hidden="true" title="Capacity"></app-users>up to {{room.Capacity}}
            </p>
            <p class="card-text">
                <app-hourglass-end aria-hidden="true" title="Game Duration"></app-hourglass-end> {{room.Duration}} min
            </p>
            <div class="card-text" [ngSwitch]="room.Genre">
                <p *ngSwitchCase="0">
                    <app-hashtag title="Genre"></app-hashtag>Horror
                </p>
                <p *ngSwitchCase="1">
                    <app-hashtag title="Genre"></app-hashtag>Comedy
                </p>
                <p *ngSwitchCase="2">
                    <app-hashtag title="Genre"></app-hashtag>Thriller
                </p>
                <p *ngSwitchCase="3">
                    <app-hashtag title="Genre"></app-hashtag>KidsFriendly
                </p>
                <p *ngSwitchCase="4">
                    <app-hashtag title="Genre"></app-hashtag>RolePlaying
                </p>
                <p *ngSwitchCase="5">
                    <app-hashtag title="Genre"></app-hashtag>SciFi
                </p>
                <p *ngSwitchCase="6">
                    <app-hashtag title="Genre"></app-hashtag>Mystery
                </p>
            </div>
            <div *ngIf="room.HasActor==true" class="actor">
                <app-user-secret></app-user-secret>
            </div>
            <p class="card-text"> <i class="fa fa-star"></i>{{room.Rating}}</p>
            <hr>
            <p>{{room.Description}}</p>
            <youtube-player style="margin-top:200px;" videoId="{{ room.VideoId }}" suggestedQuality="hd1080"
                [startSeconds]="0"> </youtube-player>
            <br>
            <div class="book-button">
                <button routerLink="/Book" class="btn btn-success "> Book Now!</button>
            </div>
        </div>
    </div>