<h1 style="margin-top:200px; color: #d5b215; text-align: center;">Rooms List</h1>

<div class="form__group field" style="margin-right: 0;">
  <div style="display:flex;  justify-content: space-between; " class="container">
    <div style="width:20%;">
      <br>
      <br>
      <input  [(ngModel)]="searchTitle" (input)="onFilterRoomHandler()" type="text" class="form__field" placeholder="Search Title" name="name" id='name' required />
    </div>


    <div style="width:20%;" >
      <div (click)="ToggleSortDifficulty()" style="cursor:pointer;" class="button2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{difficultyIsAsc? "SORT BY DIFFICULTY ASC" : "SORT BY DIFFICULTY DESC"}} 
      </div>
    </div>
    

    <div style="width:20%;" >
      <div (click)="ToggleSortDuration()" style="cursor:pointer;" class="button2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {{durationIsAsc? "SORT BY DURATION ASC" : "SORT BY DURATION DESC"}} 
      </div>
    </div>
   

    <div style="width:20%;">
      <br>
      <label class="select" for="slct">
        <div id="labeld">Genre</div>
          <select [(ngModel)]="selectedGenre" (change)="onFilterRoomHandler()" type="text" id="slct" >
            <option value="" selected>All</option>
            <option *ngFor="let genre of Genres" value={{genre}} >{{genre}}</option>
          </select>
          <svg>
            <use xlink:href="#select-arrow-down"></use>
          </svg>
      </label>
    <!-- SVG Sprites-->
          <svg class="sprites">
            <symbol id="select-arrow-down" viewbox="0 0 10 6">
              <polyline points="1 1 5 5 9 1"></polyline>
            </symbol>
          </svg>
    </div>
  
  </div>    
</div>

<br>
<br>


  <div style="margin-left: 35%;" class="row">
    <div class="col-5 form-group">
      <div class="mb-1">
        <label for="SearchName" class="form-label" style="color:white;">Search Title<Title></Title></label>
        <input type="search" class="form-control"  id="SearchName" placeholder="Search Title">
      </div>
    </div>
     <div>
    <button style="margin-top: 10px; margin-left: 210px;"  class="btn btn-warning">Show Create</button>
  </div>

  </div>

 
<br>
<table style="margin: 10px; " class="table table-dark">
  <thead>
    <tr style="text-align:center">
      <th>Id</th>
      <th>ImageUrl</th>
      <th>VideoId</th>
      <th>"Title &#8593;"</th>
      <th>Description</th>
      <th>Difficulty</th>
      <th>Duration</th>
      <th>Genre</th>
      <th>Capacity</th>
      <th>DiscountPerPerson</th>
      <th>StartingPricePerPerson</th>
      <th>HasActor</th>
      <th>Action</th>
    </tr>
    <tr>
      <th></th>
      <th><input #roomImage class="form-control" type="text" placeholder="New Image"></th>
      <th><input #roomVideoId  class="form-control" type="text" placeholder="New VideoId"></th>
      <th><input #roomTitle class="form-control" type="text" placeholder="New Title"></th>
      <th><input #roomDescription class="form-control" type="text" placeholder="New Description"></th>
      <th><select class="form-control" #roomDifficulty>
        <option value="0" selected>Beginner</option>
        <option value="1">Intermediate</option>
        <option value="2">Advanced</option>
      </select>
      </th>
      <th><input #roomDuration class="form-control" type="number" placeholder="New Duration"></th>
      <th>
        <select class="form-control" #roomGenre>
          <option value="0" selected>Horror</option>
          <option value="1">Comedy</option>
          <option value="2">Thriller</option>
          <option value="3">KidsFriendly</option>
          <option value="4">RolePlaying</option>
          <option value="5">SciFi</option>
          <option value="6">Mystery</option>
        </select>
      
      </th>
      <th><input #roomCapacity class="form-control" type="number" placeholder="New Capacity"></th>
      <th><input #roomDiscountPerPerson class="form-control" type="number" placeholder="New DiscountPerPerson"></th>
      <th><input #roomStartPricePerPerson class="form-control" type="number" placeholder="New StartingPricePerPerson"></th>
      <th><select class="form-control" #roomActor>
        <option value="1" selected>True</option>
        <option value="0">False</option>
      </select></th>

      <th>
        <button *ngIf="Rooms" (click)="
        CreateRoomHandler
        (roomTitle.value
        ,roomDescription.value
        ,roomDuration.valueAsNumber,roomGenre.value,roomCapacity.valueAsNumber,
        roomDifficulty.value, getBoolean(roomActor.value) , 0, 0, true,  roomStartPricePerPerson.valueAsNumber,roomDiscountPerPerson.valueAsNumber,
        roomImage.value,
        roomVideoId.value)" class="btn btn-primary" [routerLink]="['/Admin']">Create</button> 
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of Rooms" style="text-align:center">
      <td>{{room.Id}}</td>
      <td>
        <img style="width:140px; height: 100%;" [src]="room.ImageUrl">
      </td>
      <td style="width:140px; height: 100%;">{{room.VideoId}}
      </td>
      <td>{{room.Title}}</td>
      <td>
        <div style="overflow-y:scroll ; height:140px; width: 250px;">
          {{room.Description}}
        </div>
      </td>
    
      <td>
        <div style="text-align:center;">
          <p>{{room.Difficulty}}
          </p>
       </div>
 
      </td>
      <td>{{room.Duration}}</td>
    
      <td style="text-align:center;">
          <p>{{room.Genre}}</p>
      </td>
      <td>{{room.Capacity}}</td>
      <td>{{room.DiscountPerPerson}}</td>
      <td>{{room.StartingPricePerPerson}}</td>
      <td>{{room.HasActor}}</td>

      <td>
        <button (click)="onEditHandler(room)" class="btn btn-success m-2">Edit</button>
        <button (click)="DeleteRoomHandler(room.Id)" class="btn btn-danger m-2">Delete</button>
      </td>
      <br>
    </tr>
  </tbody>

</table>
<app-admin-update
 [Room]="SelectedRoom"
 [isVisible]="EditVisible" 
 (myEvent)="Meth($event)" 
 (isClosedEvent)="onCloseDetailsWindow($event)"
  ></app-admin-update>
