<h1 id="meetUs">Meet our team!</h1>
<div class="container">
    <div class="card">
        <img class="img-responsive" src="/assets/images/alex.png">
      <div class="card__head">Plotting Cat</div>
    </div>
    <div class="card">
        <img class="img-responsive" src="/assets/images/chris.png">
      <div class="card__head">Angry Cat</div>
    </div>
    <div class="card">
        <img class="img-responsive" src="/assets/images/apostolis.png">
      <div class="card__head">Curious Cat</div>
    </div>
    <div class="card">
      <img class="img-responsive" src="/assets/images/stef.png">
      <div class="card__head">Prowling Cat</div>
    </div>
    <div class="card">
        <img class="img-responsive" src="/assets/images/kostas.png" alt="image">
      <div class="card__head">Sleepy Cat</div>
    </div>
</div>
