<h1 id="meetUs">Meet our team!</h1>
<div class="container">
    <div class="card">
        <img class="img-responsive" src="/assets/images/alex.png">
      <div class="card__head">Alexandra 
        <p style="font-size:small">
          "Talk is cheap. Show me the code."
        </p>
      </div>
      
    </div>
    <div class="card">
        <img class="img-responsive" src="/assets/images/chris.png">
      <div class="card__head">Christina
        <p style="font-size:small">
          "I don't know where you are,
        </p>
        <p  style="font-size:small">
          but I will find you and I will fix you."
        </p>
      </div>
    </div>
    <div class="card">
        <img class="img-responsive" src="/assets/images/apostolis.png">
      <div class="card__head">Apostolis
        <p  style="font-size:small">
          "It’s not a bug. It’s an undocumented feature!"
        </p>
      </div>
    </div>
    <div class="card">
      <img class="img-responsive" src="/assets/images/stef.png">
      <div class="card__head">Stefanos
        <p  style="font-size:small">
          "If it works, don't touch it again."
        </p>
      </div>
    </div>
    <div class="card">
        <img class="img-responsive" src="/assets/images/kostas.png" alt="image">
      <div class="card__head">Kostas
        <p  style="font-size:small">
          "Things aren’t always #000000 and #FFFFFF."
        </p>
      </div>
    </div>
</div>
