.nav-link {
    color:
#4f5b62;
    font-size: large;
    margin-left: 150px;
  }
  
  .nav-button {
    margin-left: 150px;
  }
  
  .nav-button .signin-btn:hover {
    background-color: rgba(255, 0, 0, 0.419);
    height: 100%;
    border-radius: 5px;
    left: 20%;
  }
  
  
  .nav-link:hover {
    color: #d5b251;
  }
  
  
  li>a.active {
    color: #F97924
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.655);
    background-size: cover;
  }
  
  .nav-logo {
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
  
  .foo {
    background-color: #b46119;
  }
  
  
  @media only screen and (min-width: 600px) {
  
    /* For tablets: */
    .nav-link {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 1460px) {
  
    /* For desktop: */
    .nav-link {
     
      margin-left: 90px;
    }
  
  }
  
  