.nav-link {
  color: white;
  font-size: small;
}

.nav-button .signin-btn:hover {
  background-color:#F97924;
  height: 100%;
  border-radius: 5px;
  left: 20%;
}


.nav-logo {
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

a.active {
  color: #F97924;
}

li {
  margin-left: 100px;
}

.navbar {
  background-color: 0 0;
  background-size: cover;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 1s;
}


.navbar-inverse {
  background-color:
    #765da9;
  transition: 1s;
  display: flex;
}

a {
  position: relative;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 1px;
}


a:after {
  content: "";
  position: absolute;
  background-color: #F97924;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}


a:hover:after {
  width: 100%;
}



/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}*/

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
} */


.burger {
  display: none;
}


@media (max-width:400px) {
  .nav-link,.nav-button {
    display: none;
  }


  .burger {
    display: block;
  }

  .is-open {
    position: absolute;
    top: 1px;
    width: 100%;
  }

  .is-open .nav-livk
  {
    display: block;
    position: absolute;
    top:30px;
    width:100%;
  }






  .material-icons
  {
    color:rgba(51, 0, 255, 0.793);
  }


}