<div *ngIf="isVisible && Room">
    <h1 style="margin-top:100px; text-align: center; color: #d5b215;">Make your Changes to the form Below!</h1>
    <form style="margin:100px;" class="form-group">

        <input #roomTitle [(ngModel)]="Room.Title" name="Title" class="form-control m-4" type="text"
            placeholder="Edit Title">

        <input #roomDescription [(ngModel)]="Room.Description" name="Description" class="form-control m-4" type="text"
            placeholder="Edit Description">

        <input #roomDuration [(ngModel)]="Room.Duration" name="Duration" class="form-control m-4" type="number"
            placeholder="Edit Duration">

        <select #roomGenre style="background-color:#bddcee;" class="form-control m-4" placeholder="Edit Difficulty"
            [(ngModel)]="Room.Genre" name="Genre">
            <option disabled selected>Edit Genre</option>
            <option value="0" selected>Horror</option>
            <option value="1">Comedy</option>
            <option value="2">Thriller</option>
            <option value="3">KidsFriendly</option>
            <option value="4">RolePlaying</option>
            <option value="5">SciFi</option>
            <option value="6">Mystery</option>
        </select>

        <input #roomCapacity [(ngModel)]="Room.Capacity" name="Capacity" class="form-control m-4" type="number"
            placeholder="Edit Capacity">

        <select #roomDifficulty style="background-color:#bddcee;" class="form-control m-4" placeholder="Edit Difficulty"
            [(ngModel)]="Room.Difficulty" name="Difficulty">
            <option disabled selected>Edit Difficulty</option>
            <option value="0">Beginner</option>
            <option value="1">Intermediate</option>
            <option value="2">Advanced</option>
        </select>

        <select #roomActor style="background-color:#bddcee;" class="form-control m-4" placeholder="Edit HasActor"
            [(ngModel)]="Room.HasActor" name="HasActor">
            <option disabled>Edit HasActor</option>
            <option value="1" selected>True</option>
            <option value="0">False</option>
        </select>

        <input #roomStartPricePerPerson [(ngModel)]="Room.StartingPricePerPerson" name="StartingPricePerPerson"
            class="form-control m-4" type="number" placeholder="Edit StartingPricePerPerson">

        <input #roomDiscountPerPerson [(ngModel)]="Room.DiscountPerPerson" name="DiscountPerPerson"
            class="form-control m-4" type="number" placeholder="Edit DiscountPerPerson">

        <input #roomImage [(ngModel)]="Room.ImageUrl" name="ImageUrl" class="form-control m-4" type="text"
            placeholder="Edit ImageUrl">

        <input #roomVideoId [(ngModel)]="Room.VideoId" name="VideoId" class="form-control m-4" type="text"
            placeholder="Edit VideoId">

        <button (click)="UpdateRoomHandler(Room.Id, roomTitle.value
        ,roomDescription.value
        ,roomDuration.valueAsNumber,roomGenre.value,roomCapacity.valueAsNumber,
        roomDifficulty.value, getBoolean(roomActor.value) , 0, 0, true,  roomStartPricePerPerson.valueAsNumber,roomDiscountPerPerson.valueAsNumber,
        roomImage.value,
        roomVideoId.value)" class="btn btn-primary m-4">Save Changes</button>
        <button (click)="onCloseHandler()" class="btn btn-warning m-4">Close</button>
    </form>
</div>

<app-chart></app-chart>