/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css" ;






body::-webkit-scrollbar { 
    display: none; 
}
body
{
    background-color: #1b1b1b;
}


html, body { height: 100%; }

